// navbar menus
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut();
    }

    // Rotate to X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // line 1 - rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }

            // line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

// menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.98;
    visibility: hidden;
    
    &.show {
        visibility: visible;
    }

    &-branding, 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($color: $primary-color, $amount: 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut();

        &.show {
            // Slide from top
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding {
        background: $primary-color;
        @include easeOut();
        transform: translate3d(0, 100%, 0);

        &.show {
            // Slide from bottom
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/profile.jpg') no-repeat center center;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut();

        &.show {
            // Slide from bottom
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include easeOut();

        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay each nav items slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}