@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background();

    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: white;
}

// Headings
h1, h2, h3  {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba($color: lighten($color: $primary-color, $amount: 2), $alpha: 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job2';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: 3px solid $secondary-color;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.3rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    // .job-3 {
    //     grid-area: job3;
    // }
    
    .job {
        background-color: lighten($color: $primary-color, $amount: 5);
        padding: 1rem;
        border-bottom: 5px solid $secondary-color;
    }
}

// Projects or Works
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut();
        }
    }
}

// Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
        @include easeOut();
    }
}

//  Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;

    &:hover {
        background: $secondary-color;
        color: #000;
        
    }
}

.btn-dark {
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($color: $primary-color, $amount: 30);
    color: #fff;
}


#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($color: $primary-color, $amount: 10);
    height: 60px;
}

@import 'mobile';